* {
  margin: 0;
  padding: 0;
  font-family: "Martel", serif;
}

.footer-container {
  background-color: #bdc4b9;
  color: black;
  text-align: center;
  border-top: dotted double #32a1ce;
}
.footer-container .footer-final-text {
  text-align: center;
  margin: 0;
  padding-bottom: 1.5em;
  font-size: 0.8em;
}
.footer-container .footer-icons {
  padding-top: 2em;
  padding-bottom: 2em;
}
.footer-container .footer-icons .recipe-icon-footer {
  width: 1.5em;
  height: 1.5em;
  margin: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  padding: 0px;
}

.subTitle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 90%;
  font-size: 60px;
  border-bottom: 1px black solid;
}

.contact-submit {
  margin: 1em;
}

.contact-container {
  display: flex;
  justify-content: space-around;
}

.contact-left-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 15%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 45%;
}

.contact-right-panel {
  width: 30%;
  margin-top: -101px;
  border-left: 1px black solid;
  padding: 2em;
}

.contact-icons-left {
  width: 2em;
  height: 2em;
}

.first-p__cont {
  margin-top: 20vh;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .first-p__cont {
    margin-top: 8vh;
  }
}
@media (min-width: 360px) and (max-width: 720px) {
  .contact-right-panel {
    display: none;
  }

  .contact-left-panel {
    display: none;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
  }
}
/*navbar*/
header {
  background-color: #A9BA9D;
  height: 15vh;
  background-position: top;
  margin: 0.5em;
}

.navBar-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
}

.navBar-logo h2 {
  font-size: 3rem;
  margin: 0.5rem 2rem;
  color: black;
}

#hamburger {
  display: contents;
}

.navBar-title li {
  list-style: none;
  display: inline-block;
}

.navBar-title a {
  display: inline-block;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
  padding: 1.5rem 2rem;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}

.navBar-title a span {
  margin-top: 3px;
  display: block;
  height: 3px;
  width: 0%;
  background: black;
  border-radius: 5px;
  transition: 0.4s;
}

.navBar-title a:hover {
  background: white;
  text-decoration: none;
  transition: 0.4s;
}

.navBar-title a:hover span {
  width: 100%;
  transition: 0.4s;
}

label span {
  height: 4px;
  width: 2rem;
  background-color: black;
  display: none;
  margin: 3px;
}

.title {
  color: black;
}

.navBar-img img {
  width: 74px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navBar-logo {
    width: 17em;
  }
}
@media (min-width: 360px) and (max-width: 720px) {
  .title {
    height: 30vh;
    margin-left: 4px;
    margin-top: -48px;
  }

  .subTitle {
    margin-top: 30px;
  }

  header {
    -webkit-clip-path: absolute;
            clip-path: absolute;
  }

  .navBar-logo h2 {
    display: none;
  }

  .navBar-container {
    justify-content: flex-end;
    background: white;
    width: 100%;
  }

  .navBar-title {
    position: absolute;
    width: 100%;
    transform: translateY(-3000rem);
    transition: 0.5s;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
  }

  .navBar-title li,
a {
    display: block;
    text-align: center;
    background-color: #A9BA9D;
    color: white;
  }

  .navBar-title a span {
    display: none;
  }

  .navBar-title a:hover {
    color: black;
    background-color: white;
  }

  label span {
    height: 4px;
    width: 2rem;
    background-color: black;
    display: block;
    margin: 3px;
  }

  .navBar-img {
    display: none;
  }

  #hamburger {
    position: absolute;
    display: block;
    width: 0.5px;
    top: 20px;
    right: 30px;
  }

  #hamburger:checked + .navBar-title {
    transform: translateY(0);
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
  }
}
/*articles 1 and 2*/
.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}

.article-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  font-size: 20px;
}

.article-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 20px;
  border-left: 1px black solid;
}

/*boxes articles 1 and 2*/
.container-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.boxes {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  -webkit-animation: boxes 20s linear infinite;
          animation: boxes 20s linear infinite;
}

@-webkit-keyframes boxes {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes boxes {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.boxes span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.555));
}

.boxes span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*music*/
.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  width: 30rem;
  background: linear-gradient(45deg, red, black);
}

.player {
  position: relative;
  width: 300px;
  background-color: white;
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
}

.player .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}

.player .imgBx img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}
.player audio {
  width: 100%;
  outline: none;
}

/*RESPONSIVITY*/
@media (min-width: 360px) and (max-width: 720px) {
  .player {
    position: absolute;
    top: 26em;
    left: 3em;
    height: 1px;
  }

  .article-container {
    margin-top: 370px;
    margin-left: 4px;
  }

  .article-up {
    width: 60%;
    margin-left: -100px;
    border-left: 3px solid grey;
  }

  .article-down {
    margin-left: 90px;
    width: 13em;
  }

  .player-container {
    background: white;
  }

  .space-between__art {
    display: none;
  }

  .boxes span {
    transform: rotateY(calc(var(--i) * 45deg)) translateY(0px) translateX(190px);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .article-container {
    margin-left: 0;
  }

  .article-down {
    width: 40%;
    margin-left: 22em;
    font-size: 20px;
  }

  .space-between__art {
    width: 10px;
    border-left: 1px black solid;
    height: 90vh;
  }
}
/*articles 3 and 4*/
/*player into subtitle*/
.player-article3_4 {
  position: relative;
  border-radius: 20%;
  width: 300px;
  background: linear-gradient(45deg, #ff8800, black);
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}
.player audio {
  width: 100%;
  outline: none;
}

.article3_4-up {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 50%;
  font-size: 20px;
}

.subTitle-article3_4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  font-size: 60px;
  border-bottom: 1px black solid;
}

.article3_4-container {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  width: 80%;
}

.article3_4-up {
  display: flex;
  flex-direction: column;
  margin-left: 10em;
  border-left: 1px black solid;
}

.article3_4-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30em;
  width: 50%;
  font-size: 20px;
  border-right: 1px black solid;
}

/*slider 3 and 4*/
.slider-article3 {
  display: flex;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin: 5px auto 0;
}

.image-box-article3 {
  margin: 0 1%;
  flex-grow: 1;
  flex-basis: 0;
}

.image-box-article3 img {
  width: 100%;
  height: 90%;
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 10s;
}

.image-box-article3:hover {
  flex-basis: 50%;
}

.active {
  flex-basis: 50%;
}

.slider-article3:hover .active {
  flex-basis: 0;
}

.image-box-article3:nth-child(1):hover {
  flex-basis: 50%;
}

.slider-article4 {
  display: flex;
  width: 80%;
  height: 100vh;
  background-size: cover;
  margin: 5px auto 0;
}

.image-box-article4 {
  margin: 0 1%;
  flex-grow: 1;
  flex-basis: 0;
}

.image-box-article4 img {
  width: 100%;
  height: 90%;
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 10s;
}

.image-box-article4:hover {
  flex-basis: 50%;
}

.active {
  flex-basis: 50%;
}

.slider-article4:hover .active {
  flex-basis: 0;
}

.image-box-article4:nth-child(1):hover {
  flex-basis: 50%;
}

/*RESPONSIVITY*/
@media (min-width: 360px) and (max-width: 720px) {
  .article3_4-container {
    margin-left: 0px;
    width: 100%;
  }

  .article3_4-up {
    margin-top: 100px;
    margin-left: 2em;
    width: 90%;
  }

  .player-article3_4 {
    position: absolute;
    top: 9em;
    margin-left: -42px;
  }

  .article3_4-down {
    margin-left: 2em;
    width: 90%;
  }

  .slider-article4 {
    width: 100%;
  }

  .slider-article3 {
    width: 100%;
  }

  .player {
    position: absolute;
    top: 29em;
    left: 2em;
    height: 1px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .article3_4-up {
    margin-left: 2em;
  }

  .article3_4-down {
    margin-left: 15em;
  }

  .slider-article4 {
    width: 100%;
  }

  .slider-article3 {
    width: 100%;
  }
}
/*Login page*/
.login-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
  width: 100%;
}

.login-form {
  width: 18%;
  flex-wrap: wrap;
}

.login_input {
  width: 307px;
  height: 50px;
  margin-bottom: 60px;
}

.space-between__log {
  width: 20em;
  margin-right: 20px;
}

.carousel-onTheRight__log {
  margin-top: -123px;
  border-left: 1px solid black;
  height: 96vh;
}

.first-p__log {
  margin-top: 20vh;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .login-form {
    width: 29%;
    margin-left: 8em;
  }

  .space-between__log {
    width: 10em;
  }

  .carousel-onTheRight-log {
    margin-top: -8px;
    border-left: 1px solid black;
  }

  .first-p__log {
    margin-top: 13vh;
  }
}
@media (min-width: 360px) and (max-width: 720px) {
  .title {
    font-size: medium;
  }

  .subTitle {
    width: 5em;
  }

  .login-form {
    width: 60%;
  }

  .space-between__log {
    display: none;
  }

  .login_input {
    width: 254px;
    height: 50px;
    margin-bottom: 60px;
  }

  .carousel-onTheRight__log {
    display: none;
  }
}
.btn-login {
  position: absolute;
  width: 10em;
  border: 2px solid black;
  overflow: hidden;
}

.btn-login span {
  display: inline-block;
  transition: 0.5s;
}

.btn-login:hover {
  background: #A9BA9D;
  box-shadow: 0 0 10px #A9BA9D, 0 0 40px #A9BA9D, 0 0 80px #A9BA9D;
}

.btn-login span:nth-child(even)::before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(-100%);
}

.btn-login span:nth-child(even) {
  transform: translateY(-100%);
}

.btn-login:hover span:nth-child(even) {
  transform: translateY(0);
}

.btn-login span:nth-child(odd)::before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(-100%);
}

.btn-login span:nth-child(odd) {
  transform: translateY(100%);
}

.btn-login:hover span:nth-child(odd) {
  transform: translateY(0);
}

.logout-btn {
  margin-top: 50px;
}

/*register page*/
.register-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
  width: 100%;
  height: 95vh;
}

.register-form {
  width: 18%;
  flex-wrap: wrap;
}

.register_input {
  width: 307px;
  height: 50px;
  margin-bottom: 60px;
}

.space-between__reg {
  width: 20em;
  margin-right: 20px;
}

.carousel-onTheRight__reg {
  margin-top: -123px;
  border-left: 1px solid black;
  height: 96vh;
}

.first-p__reg {
  margin-top: 20vh;
}

/*errors*/
.error {
  display: flex;
  justify-content: center;
  width: 50%;
  color: #690000;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .register-form {
    width: 29%;
    margin-left: 8em;
  }

  .space-between__reg {
    width: 10em;
  }

  .carousel-onTheRight__reg {
    margin-top: -30px;
    border-left: 1px solid black;
  }

  .first-p__reg {
    margin-top: 13vh;
  }
}
@media (min-width: 360px) and (max-width: 720px) {
  .title {
    font-size: medium;
  }

  .subTitle {
    width: 5em;
  }

  .register-form {
    width: 60%;
  }

  .space-between__reg {
    display: none;
  }

  .register_input {
    width: 254px;
    height: 50px;
    margin-bottom: 60px;
  }

  .carousel-onTheRight__reg {
    display: none;
  }
}
.btn-register {
  position: absolute;
  width: 10em;
  border: 2px solid black;
  overflow: hidden;
}

.btn-register span {
  display: inline-block;
  transition: 0.5s;
}

.btn-register:hover {
  background: #A9BA9D;
  box-shadow: 0 0 10px #A9BA9D, 0 0 40px #A9BA9D, 0 0 80px #A9BA9D;
}

.btn-register span:nth-child(even)::before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(-100%);
}

.btn-register span:nth-child(even) {
  transform: translateY(-100%);
}

.btn-register:hover span:nth-child(even) {
  transform: translateY(0);
}

.btn-register span:nth-child(odd)::before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(-100%);
}

.btn-register span:nth-child(odd) {
  transform: translateY(100%);
}

.btn-register:hover span:nth-child(odd) {
  transform: translateY(0);
}

.logout-btn {
  margin-top: 50px;
}

/*subscribe page*/
.subscribe-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-direction: row;
  width: 100%;
}

.subscribe-form {
  width: 18%;
  padding-top: 5em;
  flex-wrap: wrap;
}

.subscribe_input {
  width: 307px;
  height: 50px;
  margin-bottom: 60px;
}

.carousel-onTheRight-sub {
  margin-top: -123px;
  border-left: 1px solid black;
  height: 96vh;
}

.space-between__sub {
  width: 20em;
  height: 50vh;
}

.first-p__sub {
  margin-top: 20vh;
}

/*subscribe message*/
.subscribe-session {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #bdc4b9;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .subscribe-form {
    width: 30%;
  }

  .space-between__sub {
    width: 10em;
  }

  .carousel-onTheRight-sub {
    margin-top: -8px;
    border-left: 1px solid black;
  }

  .first-p__sub {
    margin-top: 4vh;
  }
}
@media (min-width: 360px) and (max-width: 720px) {
  .subscribe-form {
    width: 30%;
    padding-top: 5em;
    flex-wrap: wrap;
  }

  .subscribe_input {
    width: 150px;
    height: 50px;
    margin-bottom: 60px;
  }

  .carousel-onTheRight-sub {
    margin-left: 50px;
    border-left: 3px solid grey;
  }

  .carousel-onTheRight-sub {
    display: none;
  }

  .space-between__sub {
    display: none;
  }

  .subscribe_input {
    width: 254px;
    height: 69px;
    margin-bottom: 60px;
  }

  .subscribe-form {
    width: 67%;
    padding-top: 5em;
    flex-wrap: wrap;
  }
}
.btn-subscribe {
  position: absolute;
  width: 10em;
  border: 2px solid black;
  overflow: hidden;
}

.btn-subscribe span {
  display: inline-block;
  transition: 0.5s;
}

.btn-subscribe:hover {
  background: #A9BA9D;
  box-shadow: 0 0 10px #A9BA9D, 0 0 40px #A9BA9D, 0 0 80px #A9BA9D;
}

.btn-subscribe span:nth-child(even)::before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(-100%);
}

.btn-subscribe span:nth-child(even) {
  transform: translateY(-100%);
}

.btn-subscribe:hover span:nth-child(even) {
  transform: translateY(0);
}

.btn-subscribe span:nth-child(odd)::before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(-100%);
}

.btn-subscribe span:nth-child(odd) {
  transform: translateY(100%);
}

.btn-subscribe:hover span:nth-child(odd) {
  transform: translateY(0);
}

.carousel-inner .carousel-item {
  transition: transform 2s ease;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin-top: 10px;
  padding: 0em;
}

.subTitle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  font-size: 60px;
  border-bottom: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.space-between__blog {
  width: 11rem;
  height: 50vh;
  border-right: 1px black solid;
}

.carousel-onTheRight__blog {
  margin-top: -150px;
  border-left: 1px solid black;
  height: 100vh;
}

.first-p__blog {
  margin-top: 20vh;
}

.carousel-item img {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 360px) and (max-width: 720px) {
  .carousel-item img {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .carousel-onTheRight__blog {
    display: none;
  }

  .space-between__blog {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-item img {
    width: 50em;
  }

  .carousel-onTheRight__blog {
    margin-top: -72px;
    border-left: 1px solid black;
    height: 100vh;
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 250px;
}

.home-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65%;
  border-bottom: 1px solid black;
}
.home-down {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 150px;
  width: 100%;
}
.home-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  width: 100%;
}
.home-btn__buttons {
  text-align: center;
  width: 250px;
  height: 80px;
  background-color: yellow;
  box-shadow: 0px 15px 10px #b1b100;
}
.home-btn__buttons p {
  margin: 30px;
  font-weight: bold;
}

.home-recipe__desc img {
  margin: 30px 30px;
}

.home-down-recipe__desc {
  width: 50%;
}
.home-down-recipe__desc img {
  width: 300px;
  height: 300px;
  margin: 30px 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-down-recipe__desc-ph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25em;
}
.home-down-recipe__desc-ph q {
  text-align: center;
}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: black;
  box-shadow: 0px 10px 10px gray;
}
.circle__ph {
  margin-top: 100px;
  text-align: center;
  color: white;
}

.carousel-onTheRight-home {
  margin-top: -204px;
  border-left: 1px solid black;
  height: 100vh;
}

.first-p {
  margin-top: 20vh;
}

/*responsivity*/
@media (min-width: 768px) and (max-width: 1024px) {
  .home-container {
    margin-left: 0;
    width: 100%;
  }
  .home-down {
    margin-left: 0;
  }
  .home-up {
    width: 70%;
  }
  .home-recipe__desc {
    width: 31em;
  }
  .home-recipe__desc p,
.home q {
    text-align: center;
  }
  .home-recipe__desc img {
    width: 25em;
    height: 46em;
    margin: 0px 0px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home .subTitle {
    width: 100%;
    font-size: 60px;
    border-bottom: 1px solid black;
  }

  .carousel-onTheRight-home {
    margin-left: 10px;
    height: 80vh;
    border-left: 1px solid black;
  }

  .space-between__home {
    width: 10px;
  }
}
@media (min-width: 360px) and (max-width: 720px) {
  .home-recipe__desc h3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-recipe__desc img {
    width: 25em;
    height: 46em;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
  }
  .home-recipe__desc p,
.home q {
    text-align: center;
  }
  .home-container {
    width: 100%;
    margin-left: 0;
  }
  .home-down {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .home-up {
    width: 100%;
    margin: 4px 0px 0 30px;
  }
  .home-btn {
    display: none;
  }

  .carousel-onTheRight-home {
    display: none;
  }
}
.addRecipe-main-container {
  display: flex;
}
.addRecipe-main-container .addRecipe-icons-left-panel {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addRecipe-main-container .addRecipe-icons-left-panel .addRecipe-icon {
  width: 2em;
  height: 2em;
  margin: 2em;
}
.addRecipe-main-container .addRecipe-leftSite {
  width: 45%;
}
.addRecipe-main-container .addRecipe-leftSite .addRecipe-leftSite-title {
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 0.5em;
  margin-top: 1.5em;
}
.addRecipe-main-container .addRecipe-leftSite .addRecipe-p-head {
  text-align: center;
  padding: 1em;
}

.addRecipe-rightSite {
  width: 20%;
  border-left: 1px black solid;
}
.addRecipe-rightSite .addRecipe-rightSite-search {
  color: #a9ba9d;
  font-weight: bold;
  border-top: 1px black solid;
  margin-top: 3.86em;
  padding-top: 1em;
  padding-left: 1em;
}
.addRecipe-rightSite .addRecipe-rightSite-container {
  padding: 2em;
  text-align: center;
}
.addRecipe-rightSite .addRecipe-rightSite-img {
  width: 80%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.addRecipe-rightSite .addRecipe-icon-right {
  width: 1.5em;
  height: 1.5em;
}
.addRecipe-rightSite .addRecipe-logo {
  width: 70%;
  height: 70%;
  padding-top: 3em;
}

* {
  font-family: "Martel", serif;
}

.recipes-main-container {
  display: flex;
  padding-bottom: 4rem;
}

.recipes-leftSite {
  width: 45%;
  margin-left: 15em;
}

.recipes-rightSite {
  border-left: 1px black solid;
  padding-left: 2em;
}

.recipes-img-react {
  width: 20em;
  height: 23em;
  padding-top: 1em;
  padding-bottom: 1em;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipes-name-react {
  padding: 1em;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.recipes-wrap-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipes-all-recipes {
  text-align: center;
  padding: 1em;
  border-bottom: 1px black solid;
  font-size: 2em;
}

.recipe-button {
  display: none;
  position: absolute;
  background-color: green;
}

/*RESPONSIVITY*/
@media (min-width: 360px) and (max-width: 720px) {
  .recipes-leftSite {
    width: 100%;
    margin-left: 0em;
  }

  .recipes-rightSite {
    display: none;
  }

  .recipes-wrap-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
  }

  .recipe-button {
    justify-content: center;
    display: block;
    display: flex;
    padding: 2em;
  }

  .recipes-main-container {
    display: flex;
    padding-bottom: 4rem;
    flex-direction: row-reverse;
  }
}
.recipe-main-container {
  display: flex;
  padding-bottom: 4rem;
  padding-left: 10rem;
}
.recipe-main-container .recipe-rightSite {
  border-left: 1px black solid;
  width: 25%;
}
.recipe-main-container .recipe-rightSite .recipe-rightSite-container {
  text-align: center;
  width: 80%;
  padding-left: 3em;
  padding-top: 1em;
}
.recipe-main-container .recipe-rightSite .recipe-rightSite-container .recipe-rightSite-search {
  color: #a9ba9d;
  font-weight: bold;
  padding-bottom: 1em;
}
.recipe-main-container .recipe-rightSite .recipe-rightSite-container .recipe-rightSite-img {
  width: 80%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.recipe-main-container .recipe-rightSite .recipe-rightSite-container .recipe-rightSite-menu {
  font-size: 0.8em;
}
.recipe-main-container .recipe-rightSite .recipe-rightSite-container .recipe-icon-right {
  width: 1.5em;
  height: 1.5em;
}
.recipe-main-container .recipe-leftSite {
  width: 45%;
  margin-left: 7em;
}
.recipe-main-container .recipe-leftSite .recipe-leftSite-container {
  padding: 2em;
}
.recipe-main-container .recipe-leftSite .recipe-left-description {
  text-align: center;
  line-height: 2;
}
.recipe-main-container .recipe-leftSite .recipe-img-react {
  width: 100%;
  height: 35em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 4em;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipe-main-container .recipe-leftSite .recipe-ingredients {
  line-height: 2;
}
.recipe-main-container .recipe-leftSite .recipe-instructions {
  line-height: 2;
}
.recipe-main-container .recipe-leftSite .recipe-left-box-title {
  border: 0.5px solid black;
  background-color: #a9ba9d;
  height: 2em;
  width: 10em;
  font-weight: bold;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}
.recipe-main-container .recipe-icons-left-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 5%;
}
.recipe-main-container .recipe-icons-left-panel .recipe-icon {
  width: 2em;
  height: 2em;
}

@media (min-width: 360px) and (max-width: 720px) {
  .recipe-rightSite {
    display: none;
  }

  .recipe-main-container .recipe-leftSite {
    width: 100%;
    margin-left: 0em;
  }

  .recipe-main-container {
    display: flex;
    padding-left: 0rem;
  }

  .recipe-main-container .recipe-icons-left-panel {
    display: none;
  }

  .recipe-main-container .recipe-leftSite .recipe-img-react {
    width: 100%;
    height: 35em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0em;
    padding-right: 0em;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .recipe-main-container {
    display: flex;
    padding-bottom: 4rem;
    padding-left: 0rem;
  }

  .recipe-main-container .recipe-leftSite .recipe-img-react {
    width: 100%;
    height: 35em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0em;
    padding-right: 0em;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .recipe-main-container .recipe-rightSite {
    border-left: 1px black solid;
    width: 35%;
  }
}

/*# sourceMappingURL=app.css.map*/