* {
  margin: 0;
  padding: 0;
  font-family: "Martel", serif;
}

.carousel-inner .carousel-item {
  transition: transform 2s ease;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  padding: 50px;
}

.subTitle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 90%;
  font-size: 60px;
  border-bottom: 3px solid grey;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.space-between {
  width: 11rem;
  height: 50vh;
  border-right: 3px grey solid;
}

.carousel-onTheRight {
  height: 50vh;
  width: 183px;
  font-size: 12px;
  padding-top: 10px;
}

/*ARTICLES1*/
.container-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.boxes {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  -webkit-animation: boxes 20s linear infinite;
          animation: boxes 20s linear infinite;
}

@-webkit-keyframes boxes {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes boxes {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.boxes span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.555));
}

.boxes span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}

.article-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 75%;
  font-size: 20px;
}

.article-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 20px;
  border-left: 3px grey solid;
}

/*music*/
.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  width: 30rem;
  background: linear-gradient(45deg, red, black);
}

.player {
  position: relative;
  width: 300px;
  background-color: white;
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
}

.player .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}

.player .imgBx img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}
.player audio {
  width: 100%;
  outline: none;
}

/*article 3 and 4*/
.article3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.article3-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 30%;
  font-size: 20px;
}
