//bootstrap slide 
.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

//end
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 10px;
    padding: 0em;
}

.subTitle {
    display: flex;
    justify-content: center;
    padding-right: 8em;
    padding-bottom: 0.7em;
    align-items: flex-end;
    width: 100%;
    font-size: 30px;
    border-bottom: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel-inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.space-between__blog {
    width: 11rem;
    height: 50vh;
}


/*navbar on the right for sub and log page*/

.carousel-onTheRight-blog {
    margin-top: -106px;
    border-left: 1px solid black;
    height: 100vh;
    padding-top: 3em;
    width: 25%;
    padding-left: 2em;
    margin-bottom: 5em;
}

.carousel-onTheRight-blog .recipe-rightSite-container {
    text-align: center;
    width: 80%;
    padding-left: 3em;
    padding-top: 1em;
}

.recipe-rightSite-search {
    color: #a9ba9d;
    font-weight: bold;
    padding-bottom: 1em;
}

.recipe-rightSite-img {
    width: 80%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.recipe-icon-right {
    width: 2em;
    height: 2em;
}

.recipes-all-recipes-blog {
    margin-right: 20px;
    text-align: center;
    padding: 1em;
    font-size: 2em;
}

.carousel-item img {
    width: 401px;
    height: 600px;
    object-fit: cover;
}

.slide {
    padding-top: 2em;
}

.blog-ph {
    font-size: 16px;
}

@media (min-width: 360px) and (max-width: 720px) {
    .carousel-item img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .space-between__blog {
        display: none;
    }
    .carousel-onTheRight-blog {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .carousel-item img {
        width: 50em;
    }
    .carousel-onTheRight-blog {
        margin-top: -109px;
        padding-top: 0em;
        border-left: 1px solid black;
        width: 25%;
        padding-left: 2em;
        margin-bottom: 5em;
    }
    .space-between__blog {
        width: 4em;
        height: 50vh;
    }
}