//bootstrap slide 
.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

//end
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 10px;
    padding: 0em;
}

.subTitle {
    display: flex;
    justify-content: center;
    padding-right: 8em;
    padding-bottom: 0.7em;
    align-items: flex-end;
    width: 100%;
    font-size: 30px;
    border-bottom: 1px solid black;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel-inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.space-between__blog {
    width: 11rem;
    height: 50vh;
    
}

.carousel-onTheRight__blog {
    margin-top: -150px;
    border-left: 1px solid black;
    height: 100vh;
    padding-left: 2em;
}

.first-p__blog {
    margin-top: 20vh;
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.slide {
    padding-top: 2em;
}

@media (min-width: 360px) and (max-width: 720px) {
    .carousel-item img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .carousel-onTheRight__blog {
        display: none;
    }
    .space-between__blog {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .carousel-item img {
        width: 50em;
    }
    .carousel-onTheRight__blog {
        margin-top: -72px;
        border-left: 1px solid black;
        height: 100vh;
    }
}