//bootstrap slide 
.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

//end
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    padding: 50px;
}

.subTitle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 90%;
    font-size: 60px;
    border-bottom: 3px solid grey;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel-inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.space-between {
    width: 11rem;
    height: 50vh;
    border-right: 3px grey solid;
}

.carousel-onTheRight {
    height: 50vh;
    width: 183px;
    font-size: 12px;
    padding-top: 10px;
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

@media (min-width: 360px) and (max-width: 720px) {
    .carousel-item img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .carousel-onTheRight {
        height: 50vh;
        width: 200px;
        font-size: 12px;
        padding-top: 10px;
        border-left: 3px solid grey;
    }
    .space-between {
        width: 1rem;
        height: 50vh;
        border-right: 3px grey solid;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .carousel-item img {
        width: 50em;
    }
}