.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding: 0px;
}

.subTitle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 90%;
    font-size: 20px;
    border-bottom: 1px black solid;
}

.contact-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-direction: row;
    width: 100%;
}

textarea {
    width: 25em;
}

@media (min-width: 360px) and (max-width: 720px) {
    .contact-container {
        height: 75vh;
    }
    textarea {
        width: 20em;
    }
}