.footer-container {
    background-color: #bdc4b9;
    color: white;
    text-align: center;
}

.nav-link-footer {
    color: white;
}

.footer-final-text {
    text-align: center;
}

.icon {
    margin-right: 1em;
}