.footer-container {
    background-color: #bdc4b9;
    color: black;
    text-align: center;
    border-top: dotted double #32a1ce;;
}

.nav-link-footer {
    color: black;
}

.footer-final-text {
    text-align: center;
}

.icon {
    margin-right: 1em;
}

.contact-icons-footer {
    width: 5em;
    height: 5em;
    color: black;
    padding: 1em;
}