.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 250px;
}

.title {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.subTitle-home {
    text-align: center;
    width: 100%;
    font-size: 1.3em;
    border-bottom: 1px solid black;
    padding-bottom: 0.55em;
    color: #a9ba9d;
    font-weight: bold;
}

.home-frenchtoast {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.home-img-frenchtoast {
    width: 100%;
    height: 100%;
    padding-right: 2em;
    margin: 0;
}

.main-rightSite-search {
    color: #a9ba9d;
    font-weight: bold;
    padding-top: 3.5em;
    justify-content: center;
}

.home-contaner-icon-right {
    display: flex;
    justify-content: center;
    .home-icon-right {
        width: 1.5em;
        height: 1.5em;
        margin: 1em;
        margin-bottom: 2em;
    }
}

.home {
    &-up {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 65%;
    }
    &-down {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 150px;
        width: 100%;
    }
    &-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // border-bottom: 3px solid grey;
        padding: 20px;
        width: 100%;
        &__buttons {
            text-align: center;
            width: 250px;
            height: 60px;
            background-color: #FFFAA0;
            box-shadow: 0px 5px 10px rgb(177, 177, 0);
            & p {
                margin: 20px;
                font-weight: bold;
                font-weight: 800;
            }
        }
    }
}

.home-recipe__desc img {
    margin: 30px 30px;
}

.home-down-recipe__desc {
    width: 50%;
    & img {
        width: 300px;
        height: 300px;
        margin: 30px 30px;
        object-fit: cover;
    }
    &-ph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25em;
        & q {
            text-align: center;
        }
    }
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: black;
    box-shadow: 0px 10px 10px gray;
    &__ph {
        margin-top: 50px;
        text-align: center;
        color: white;
        font-size: 25px;
    }
}

.carousel-onTheRight-home {
    margin-top: -204px;
    border-left: 1px solid black;
    padding-left: 20px;
    // height: 100vh;
}

.first-p {
    margin-top: 20vh;
}


/*responsivity*/

@media (min-width: 768px) and (max-width: 1024px) {
    .home {
        &-container {
            margin-left: 0;
            width: 100%;
        }
        &-down {
            margin-left: 0;
        }
        &-up {
            width: 70%;
        }
        &-recipe__desc {
            width: 22em;
        }
        &-recipe__desc p,
        q {
            text-align: center;
        }
        &-recipe__desc img {
            width: 25em;
            height: 46em;
            margin: 0px 0px;
            object-fit: cover;
        }
        .subTitle {
            width: 100%;
            font-size: 60px;
            border-bottom: 1px solid black;
        }
    }
    .carousel-onTheRight-home {
        margin-left: 10px;
        height: 80vh;
        border-left: 1px solid black;
    }
    .space-between__home {
        width: 10px;
    }
}

@media (min-width: 360px) and (max-width: 720px) {
    .home {
        &-recipe__desc h3 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-recipe__desc img {
            width: 25em;
            height: 46em;
            object-fit: cover;
            margin: 0;
        }
        &-recipe__desc p,
        q {
            text-align: center;
        }
        &-container {
            width: 100%;
            margin-left: 0;
        }
        &-down {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-left: 0;
        }
        &-up {
            width: 100%;
            margin: 4px 0px 0 30px;
        }
        &-btn {
            display: none;
        }
    }
    .carousel-onTheRight-home {
        display: none;
    }
}