.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 250px;
}

.home {
    &-up {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 65%;
        border-bottom: 3px grey solid;
    }
    &-down {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 150px;
        width: 100%;
    }
    &-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // border-bottom: 3px solid grey;
        padding: 50px;
        width: 100%;
        &__buttons {
            text-align: center;
            width: 250px;
            height: 80px;
            background-color: yellow;
            box-shadow: 0px 15px 10px rgb(177, 177, 0);
            & p {
                margin: 30px;
                font-weight: bold;
            }
        }
    }
}

.home-recipe__desc img {
    margin: 30px 30px;
}

.home-down-recipe__desc {
    width: 50%;
    & img {
        width: 300px;
        height: 300px;
        margin: 30px 30px;
        object-fit: cover;
    }
    &-ph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25em;
        & q {
            text-align: center;
        }
    }
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: black;
    box-shadow: 0px 10px 10px gray;
    &__ph {
        margin-top: 100px;
        text-align: center;
        color: white;
    }
}


/*responsivity*/

@media (min-width: 768px) and (max-width: 1024px) {
    .home {
        &-container {
            margin-left: 0;
            width: 100%;
        }
        &-down {
            margin-left: 0;
        }
        &-up {
            width: 70%;
        }
        &-recipe__desc {
            width: 31em;
        }
        &-recipe__desc p,
        q {
            text-align: center;
        }
        &-recipe__desc img {
            width: 25em;
            height: 46em;
            margin: 0px 0px;
            object-fit: cover;
        }
    }
    .carousel-onTheRight-home {
        margin-left: 10px;
        border-left: 3px gray solid;
    }
    .space-between__home {
        width: 10px;
    }
}

@media (min-width: 360px) and (max-width: 720px) {
    .home {
        &-recipe__desc img {
            width: 25em;
            height: 46em;
            margin: 0px 0px;
            object-fit: cover;
        }
        &-recipe__desc p,
        q {
            text-align: center;
        }
        &-container {
            width: 100%;
            margin-left: 0;
        }
        &-down {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-left: 0;
        }
        &-up {
            width: 100%;
        }
    }
    .carousel-onTheRight-home {
        display: none;
    }
}