/*Login page*/

.login-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.login-form {
    width: 18%;
    padding-top: 5em;
    flex-wrap: wrap;
}

.login_input {
    width: 307px;
    height: 50px;
    margin-bottom: 60px;
}

@media (min-width: 360px) and (max-width: 720px) {
    .login-form {
        width: 30%;
        padding-top: 5em;
        flex-wrap: wrap;
    }
    .login_input {
        width: 150px;
        height: 50px;
        margin-bottom: 60px;
    }
}

.btn-login {
    position: absolute;
    width: 10em;
    border: 2px solid black;
    overflow: hidden;
}

.btn-login span {
    display: inline-block;
    transition: 0.5s;
}

.btn-login:hover {
    background: #A9BA9D;
    box-shadow: 0 0 10px #A9BA9D, 0 0 40px #A9BA9D, 0 0 80px #A9BA9D;
}

.btn-login span:nth-child(even)::before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-100%);
}

.btn-login span:nth-child(even) {
    transform: translateY(-100%);
}

.btn-login:hover span:nth-child(even) {
    transform: translateY(0);
}

.btn-login span:nth-child(odd)::before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-100%);
}

.btn-login span:nth-child(odd) {
    transform: translateY(100%);
}

.btn-login:hover span:nth-child(odd) {
    transform: translateY(0);
}

.logout-btn {
    margin-left: 300px;
}