    /*navbar*/
    
    header {
        background-color: #A9BA9D;
        height: 15vh;
        background-position: top;
        margin: 0.5em;
    }
    
    .navBar-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 1rem;
    }
    
    .navBar-logo h2 {
        font-size: 3rem;
        margin: 0.5rem 2rem;
        color: black;
    }
    
    #hamburger {
        display: contents;
    }
    
    .navBar-title li {
        list-style: none;
        display: inline-block;
    }
    
    .navBar-title a {
        display: inline-block;
        text-decoration-color: black;
        padding: 1.5rem 2rem;
        font-weight: bold;
        color: black;
        font-size: 1.5rem;
    }
    
    .navBar-title a span {
        margin-top: 3px;
        display: block;
        height: 3px;
        width: 0%;
        background: black;
        border-radius: 5px;
        transition: .4s;
    }
    
    .navBar-title a:hover {
        background: white;
        text-decoration: none;
        transition: .4s;
    }
    
    .navBar-title a:hover span {
        width: 100%;
        transition: .4s;
    }
    
    label span {
        height: 4px;
        width: 2rem;
        background-color: black;
        display: none;
        margin: 3px;
    }
    
    .title {
        color: black;
    }
    
    .navBar-img img {
        width: 74px;
    }
    
    @media (min-width: 768px) and (max-width: 1024px) {
        .navBar-logo {
            width: 17em;
        }
    }
    
    @media (min-width: 360px) and (max-width: 720px) {
        .title {
            height: 30vh;
            margin-left: 4px;
            margin-top: -48px;
        }
        .subTitle {
            margin-top: 30px;
        }
        header {
            clip-path: absolute;
        }
        .navBar-logo h2 {
            display: none;
        }
        .navBar-container {
            justify-content: flex-end;
            background: white;
            width: 100%;
        }
        .navBar-title {
            position: absolute;
            width: 100%;
            transform: translateY(-3000rem);
            transition: 0.5s;
            clip-path: circle(50% at 50% 50%);
        }
        .navBar-title li,
        a {
            display: block;
            text-align: center;
            background-color: #A9BA9D;
            color: white;
        }
        .navBar-title a span {
            display: none;
        }
        .navBar-title a:hover {
            color: black;
            background-color: white;
        }
        label span {
            height: 4px;
            width: 2rem;
            background-color: black;
            display: block;
            margin: 3px;
        }
        .navBar-img {
            display: none;
        }
        #hamburger {
            position: absolute;
            display: block;
            width: 0.5px;
            top: 20px;
            right: 30px;
        }
        #hamburger:checked+.navBar-title {
            transform: translateY(0);
            clip-path: circle(50% at 50% 50%);
        }
    }