/*subscribe page*/

.subscribe-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-direction: row;
    width: 100%;
}

.subscribe-form {
    width: 18%;
    padding-top: 5em;
    flex-wrap: wrap;
}

.subscribe_input {
    width: 307px;
    height: 50px;
    margin-bottom: 60px;
}

.carousel-onTheRight-sub {
    margin-top: -123px;
    border-left: 1px solid black;
    height: 96vh;
    padding-left: 2em;
    margin-bottom: 5em;
    
}

.space-between__sub {
    width: 20em;
    height: 50vh;
}

.first-p__sub {
    margin-top: 20vh;
}


/*subscribe message*/

.subscribe-session {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #bdc4b9;
}

.subTitle-subscribe {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 90%;
    font-size: 0px;
    border-bottom: 1px black solid;
}




@media (min-width: 768px) and (max-width: 1024px) {
    .subscribe-form {
        width: 30%;
    }
    .space-between__sub {
        width: 10em;
    }
    .carousel-onTheRight-sub {
        margin-top: -8px;
        border-left: 1px solid black;
    }
    .first-p__sub {
        margin-top: 4vh;
    }
}

@media (min-width: 360px) and (max-width: 720px) {
    .subscribe-form {
        width: 30%;
        padding-top: 5em;
        flex-wrap: wrap;
    }
    .subscribe_input {
        width: 150px;
        height: 50px;
        margin-bottom: 60px;
    }
    .carousel-onTheRight-sub {
        margin-left: 50px;
        border-left: 3px solid grey;
    }
    .carousel-onTheRight-sub {
        display: none;
    }
    .space-between__sub {
        display: none;
    }
    .subscribe_input {
        width: 254px;
        height: 69px;
        margin-bottom: 60px;
    }
    .subscribe-form {
        width: 67%;
        padding-top: 5em;
        flex-wrap: wrap;
    }
}

.btn-subscribe {
    position: absolute;
    width: 10em;
    border: 2px solid black;
    overflow: hidden;
}

.btn-subscribe span {
    display: inline-block;
    transition: 0.5s;
}

.btn-subscribe:hover {
    background: #A9BA9D;
    box-shadow: 0 0 10px #A9BA9D, 0 0 40px #A9BA9D, 0 0 80px #A9BA9D;
}

.btn-subscribe span:nth-child(even)::before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-100%);
}

.btn-subscribe span:nth-child(even) {
    transform: translateY(-100%);
}

.btn-subscribe:hover span:nth-child(even) {
    transform: translateY(0);
}

.btn-subscribe span:nth-child(odd)::before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-100%);
}

.btn-subscribe span:nth-child(odd) {
    transform: translateY(100%);
}

.btn-subscribe:hover span:nth-child(odd) {
    transform: translateY(0);
}