/*register page*/

.register-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 20px;
    width: 100%;
    height: 95vh;
}

.register-form {
    width: 18%;
    flex-wrap: wrap;
}

.register_input {
    width: 307px;
    height: 50px;
    margin-bottom: 60px;
}

.space-between__reg {
    width: 20em;
    margin-right: 20px;
}

.carousel-onTheRight__reg {
    margin-top: -123px;
    border-left: 1px solid black;
    height: 96vh;
}

.first-p__reg {
    margin-top: 20vh;
}


/*errors*/

.error {
    display: flex;
    justify-content: center;
    width: 50%;
    color: #690000;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .register-form {
        width: 29%;
        margin-left: 8em;
    }
    .space-between__reg {
        width: 10em;
    }
    .carousel-onTheRight__reg {
        margin-top: -30px;
        border-left: 1px solid black;
    }
    .first-p__reg {
        margin-top: 13vh;
    }
}

@media (min-width: 360px) and (max-width: 720px) {
    .title {
        font-size: medium;
    }
    .subTitle {
        width: 5em;
    }
    .register-form {
        width: 60%;
    }
    .space-between__reg {
        display: none;
    }
    .register_input {
        width: 254px;
        height: 50px;
        margin-bottom: 60px;
    }
    .carousel-onTheRight__reg {
        display: none;
    }
}

.btn-register {
    position: absolute;
    width: 10em;
    border: 2px solid black;
    overflow: hidden;
}

.btn-register span {
    display: inline-block;
    transition: 0.5s;
}

.btn-register:hover {
    background: #A9BA9D;
    box-shadow: 0 0 10px #A9BA9D, 0 0 40px #A9BA9D, 0 0 80px #A9BA9D;
}

.btn-register span:nth-child(even)::before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-100%);
}

.btn-register span:nth-child(even) {
    transform: translateY(-100%);
}

.btn-register:hover span:nth-child(even) {
    transform: translateY(0);
}

.btn-register span:nth-child(odd)::before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-100%);
}

.btn-register span:nth-child(odd) {
    transform: translateY(100%);
}

.btn-register:hover span:nth-child(odd) {
    transform: translateY(0);
}

.logout-btn {
    margin-top: 50px;
}