/*register page*/

.register-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    height: 90vh;
    width: 100%;
}

.register-form {
    width: 18%;
    flex-wrap: wrap;
}

.register_input {
    width: 307px;
    height: 50px;
    margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .register-form {
        width: 32%;
    }
    .register-container {
        height: 60vh;
    }
}

@media (min-width: 360px) and (max-width: 720px) {
    .register-form {
        width: 30%;
        flex-wrap: wrap;
    }
    .register_input {
        width: 150px;
        height: 50px;
        margin-bottom: 60px;
    }
    .subTitle {
        width: 5em;
    }
    .carousel-onTheRight-reg {
        height: 50vh;
        width: 200px;
        margin-left: 40px;
        font-size: 12px;
        border-left: 3px solid grey;
    }
}

.btn-register {
    position: absolute;
    width: 10em;
    border: 2px solid black;
    overflow: hidden;
}

.btn-register span {
    display: inline-block;
    transition: 0.5s;
}

.btn-register:hover {
    background: #A9BA9D;
    box-shadow: 0 0 10px #A9BA9D, 0 0 40px #A9BA9D, 0 0 80px #A9BA9D;
}

.btn-register span:nth-child(even)::before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-100%);
}

.btn-register span:nth-child(even) {
    transform: translateY(-100%);
}

.btn-register:hover span:nth-child(even) {
    transform: translateY(0);
}

.btn-register span:nth-child(odd)::before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-100%);
}

.btn-register span:nth-child(odd) {
    transform: translateY(100%);
}

.btn-register:hover span:nth-child(odd) {
    transform: translateY(0);
}