* {
    margin: 0;
    padding: 0;
    font-family: 'Martel', serif;
}

@import "footer.scss";
@import "contact.scss";
@import "navBar.scss";
@import "articles.scss";
@import "login.scss";
@import "register.scss";
@import "newsletter.scss";
@import "blog.scss";
@import "home.scss";
@import "add-recipe.scss";
@import "components/recipes-main.scss";
@import "components/recipe.scss"