.recipe-main-container {
    display: flex;
    padding-bottom: 4rem;
    padding-left: 10rem;

    .recipe-rightSite {
        border-left: 1px black solid;
        width: 25%;

        .recipe-rightSite-container {
            text-align: center;
            width: 80%;
            padding-left: 3em;
            padding-top: 1em;

            .recipe-rightSite-search {
                color: #a9ba9d;
                font-weight: bold;
                padding-bottom: 1em;
            }

            .recipe-rightSite-img {
                width: 80%;
                padding-top: 1em;
                padding-bottom: 1em;
            }

            .recipe-rightSite-menu {
                font-size: 0.8em;
            }

            .recipe-icon-right {
                width: 1.5em;
                height: 1.5em;
                
            }
        }
    }

    .recipe-leftSite {
        width: 45%;
        margin-left: 7em;

        .recipe-leftSite-container {
            padding: 2em;
        }

        .recipe-left-description {
            text-align: center;
            line-height: 2;
        }

        .recipe-img-react {
            width: 100%;
            height: 35em;
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 4em;
            padding-right: 4em;
        }
        .recipe-ingredients {
            line-height: 2;
        }
        .recipe-instructions {
            line-height: 2;
        }
        .recipe-left-box-title {
            border: 0.5px solid black;
            background-color: #a9ba9d;
            height: 2em;
            width: 10em;
            font-weight: bold;
            text-align: center;
            margin-top: 3em;
            margin-bottom: 1em;
        }

        
    }

    .recipe-icons-left-panel {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 5%;

        .recipe-icon {
            width: 2em;
            height: 2em;
        }
    }

}
