
* {
    font-family: 'Martel', serif;
}
.recipes-main-container {
    display: flex;
    padding-bottom: 4rem;
}

.recipes-leftSite {
    // background-color: aquamarine;
    width: 45%;
    margin-left: 15em; 
}
.recipes-rightSite {
    border-left: 1px black solid;
    padding-left: 2em;
}

// .search-recipes {
//     border-left: 1px black solid;
// }

.recipes-img-react {
    width: 20em;
    height: 23em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.recipes-name-react {
    padding: 1em;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.recipes-wrap-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.recipes-all-recipes {
    text-align: center;
    padding: 1em;
    border-bottom: 1px black solid;
    font-size: 2em;

}