* {
    font-family: 'Martel', serif;
}

.title-recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    padding: 0px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.recipes-main-container {
    display: flex;
    padding-bottom: 4rem;
}

.recipes-leftSite {
    width: 45%;
    margin-left: 15em;
}

.recipes-rightSite {
    border-left: 1px black solid;
    padding-left: 2em;
}


.recipes-img-react {
    width: 20em;
    height: 23em;
    padding-top: 1em;
    padding-bottom: 1em;
    object-fit: cover;
}

.recipes-name-react {
    padding: 1em;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.recipes-wrap-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipes-all-recipes {
    text-align: center;
    padding: 1em;
    border-bottom: 1px black solid;
    font-size: 2em;
}

.recipe-button {
    display: none;
    position: absolute;
    background-color: green;
}


/*RESPONSIVITY*/

@media (min-width: 360px) and (max-width: 720px) {
    .recipes-leftSite {
        width: 100%;
        margin-left: 0em;
    }
    .recipes-rightSite {
        display: none;
    }
    .recipes-wrap-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 100px;
    }
    .recipe-button {
        justify-content: center;
        display: block;
        display: flex;
        padding: 2em;
    }
    .recipes-main-container {
        display: flex;
        padding-bottom: 4rem;
        flex-direction: row-reverse;
    }
}